@model IEnumerable<films.Models.Films>
@{
    ViewBag.Title = "Films";
}

<h2>Films</h2>

<div>
    <h3>Films Name</h3>
    <table>
        <tr class="header">
            <td><p>Name</p></td>
            <td></td>
        </tr>
    
    </table>
</div>

